<header class="ui basic very padded segment dream-header">

  <div class="content">
    <h1 class="ui medium header">
      {{- if .Site.Params.headerTitle -}}
        {{- .Site.Params.headerTitle -}}
      {{- else -}}
        Set headerTitle in the config to display
      {{- end -}}
    </h1>


    {{ if .Site.Taxonomies.categories }}
    {{ $tags := slice }}
    {{ $first := slice }}
    {{ $rest := slice }}
    {{ range .Site.Taxonomies.categories }}
      {{ $tags = $tags | append (dict "title" .Page.Title "link" .Page.RelPermalink) }}
    {{ end }}
    {{ $sum := len $tags }}

    {{ $maxTags := .Site.Params.categoriesLimitInHeader }}

    {{ if $maxTags }}

    {{ $first = first $maxTags $tags }}
    {{ $rest = last (sub $sum $maxTags) $tags }}

    <div class="tags-with-dropdown">
      <div class="ui accordion">
        <div class="title">
          <div class="dream-tags">
          {{ range $tag := $first }}
          {{ $title := index $tag "title" }}
          {{ $link := index $tag "link" }}
            <a class="ui label" href="{{ $link }}" title="{{ $title }}">
              {{ $title }}
            </a>
          {{ end }}
          </div>
        </div>
        <div class="content">
    {{ else }}
    {{ $rest = $tags }}
    {{ end }}
          <div class="dream-tags"{{ if $maxTags }} style="margin-left: 1.5rem;"{{ end}}>
          {{ range $tag := $rest }}
          {{ $title := index $tag "title" }}
          {{ $link := index $tag "link" }}
            <a class="ui label" href="{{ $link }}" title="{{ $title }}">
              {{ $title }}
            </a>
          {{ end }}
          </div>
    {{ if $maxTags }}
        </div>
      </div>
    </div>
    {{ end }}

    {{ end }}
  </div> 
</header>
